.btns {
  width: 25px;
  height: 25px;
  margin: 10px;
  margin-left: 62px;
  display: flex;
}

.reset {
  background-color: white;
  border-radius: 2px;
  /* margin-right: 10px; */
}

.timer {
  background-color: lightcoral;
  border-radius: 2px;
}
